@font-face {
  font-family: Inter;
  src: url(/assets/fonts/Inter-Regular.woff2) format(woff2);
  font-weight: 400;
}
@font-face {
  font-family: Inter;
  src: url(/assets/fonts/Inter-Medium.woff2) format(woff2);
  font-weight: 500;
}
@font-face {
  font-family: Inter;
  src: url(assets/fonts/Inter-Bold.woff2) format(woff2);
  font-weight: 700;
}
@font-face {
  font-family: Jomhuria;
  src: url(@/assets/fonts/Jomhuria-Regular.woff2) format(woff2);
  font-weight: 400;
}
