.btn-orange {
  display: block;
  padding: 2.7rem 8.7rem;
  border-radius: 20px;
  background-color: $primary;
  color: $paragraph-color--light;
  font-size: 3rem;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}
